/*-----body-----*/
body {
	margin: 0;
	font-family: "Roboto";
	font-size: 18px;
}

/*-----header-----*/
header {
	background-color: #3a7dfd;
	background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
	color: #ffffff;
	padding-top: 59px;
	padding-bottom: 20px;

}
.header-pretitle {
	font-weight: 700;
	margin-top: 102px;
}
.header-title {
	font-weight: 700;
	font-size: 48px;
	margin-top: 21px;
	margin-bottom: 0;

}
.header-subtitle {
	margin-top: 20px;
	
}
.header-button {
cursor: pointer;
display: inline-block;
text-decoration: none;
box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
border-radius: 30px;
background-color: #ffffff;
color: #072b6f;
font-weight: 700;
padding: 15px 50px;
font-size: 18px;
margin-top: 33px;
}
.header-button:hover {
	box-shadow: none;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
} 
.header-button-block {
	max-width: 210px;
	}


/*-----section-----*/

.section-img {
	width: 100%;
}
.portfolio {
	background-color: #ddd;
	padding-top: 44px;
	padding-bottom: 71px;
}
.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 41px;
	margin-left: 5%;
	margin-right: 5%;
}
.portfolio-block h3 {
	text-transform: uppercase;
	text-align: center;
}
.p-indent {
	text-indent: 20px;
}
.portfolio-block img {
	height: 250px;
}
.portfolio-title {
	text-transform: uppercase;
	font-size: 18px;
	color: #072b6f;
	letter-spacing: 2.8px;
	margin-bottom: 10px;
}
.portfolio-subtitle {
	color: #7bb9ff;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}
.portfolio-title, .portfolio-subtitle {
	text-align: center;
}
.portfolio-col-1 {
	margin-right: 10px;
	margin-left: 20px;
}
.portfolio-col-2 {
	margin-left: : 10px;
	margin-right: 20px;
}


/*-----footer-----*/

footer {
	background-color: #3a7dfd;
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 110px;
	
}
footer h4 {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 7px;
}
.footer-text {
	color: #deedfe;
	margin-top: 0;
}
.social-block {
	text-align: center;
	margin-bottom: 21px;
}
.social-block a {
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;

}
.footer-cta-block {
	text-align: center;
}
.footer-cta {
	margin-bottom: 13px;
}
.footer-button {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 12px 40px;
}
.footer-button:hover {
	background-color: #ffffff;
	color: #3a7dfd;
	font-weight: 700;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.up-button-block {
    float: right;
    transform: rotate(45deg);
    margin-top: -100px;
    padding-top: 10px;
    padding-left: 10px;
    width: 82px;
    height: 82px;
    box-shadow: 5px 0px 34px 6px rgba(18, 61, 145, 0.41);
    background-color: #3a7dfd;
}
.inner-up-button-block {
    width: 63px;
    height: 63px;
    background-color: #1e5cd3;
    text-align: center;
}
.up-button {
    display: block;
    transform: rotate(-45deg);
    margin: auto;
    width: 82px;
    height: 82px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}
@media (max-width: 1200px) {
	.header-pretitle {
		margin-top: 60px;
	}
}
@media (max-width: 992px) {
	.header-img {
		display:none;
	}
	.header-pretitle {
		margin-top: 0px;
	}
	footer h4 {
		font-size: 18px;
	}
	.footer-text{
		font-size: 14px;
	}
	.social-block a {
		margin-left: 5px;
		margin-right: 5px;
	}
	.social-block img {
		width: 30px;
	}
	.footer-button {
		font-size: 14px;
		padding: 8px 35px;
	}
}

@media (max-width: 768px) {

	.portfolio-col-1 {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
		margin: 0;
	}
	.portfolio-col-2 {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
		margin: 0;
	}
	footer h4 {
		text-align: center;
	}
	.footer-text {
		text-align: center;
	}
	.header-w768 {
		padding-left: 15%;
	}
}